body {
    background-color: rgb(0, 0, 0);
}

.sign-in-box {
    background-color: white;
    border: 2px solid rgba(128, 128, 128, 0.151);
    border-radius: 10px;
    width: 430px;
    height: 420px;
    margin: auto;
    margin-top: 200px;
    text-align: center;
    padding-top: 100px;

}

h2 {
    font-size: 30px;
    font-weight: 200;
    color: rgb(32, 32, 32);
}


.sign-in-title {
    font-family: sans-serif;
    margin-top: 50px;
    margin-bottom: -15px;
}

.fa-person-swimming {
    color: rgb(0, 0, 0);
    justify-content: center;
    font-size: x-large;
}

.user-input {
    margin-top: 40px;
    font-family: sans-serif;
    font-size: 13px;
}

.forgot-password {
    margin-left: 200px;
    text-decoration: none;
    color: rgb(101, 101, 255);
}

.forgot-password:hover {
    text-decoration: underline;
}

.continue {
    background-color: rgb(0, 0, 0);
    color: rgb(226, 226, 226);
    border-radius: 20px;
    border: 1px solid gray;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    margin-top: 40px;
}


.continue:hover {background-color: rgb(5, 74, 223)}

.continue:active {
  background-color: rgb(3, 59, 180);
  box-shadow: 0 2px rgb(0, 62, 196);
  transform: translateY(4px);
}

.need-help-link {
    color: rgb(101, 101, 255);
    text-decoration: none;
    text-align: center;
    display: block;
}

.need-help-link:hover {
    text-decoration: underline;
}
